In [1]:
import datetime as dt           #将datetime库的name_space改为dt
from datetime import datetime   #从datetime库导入datetime对象
from datetime import time       #从datetime库导入time对象
import calendar
import time as tm               #将time库的name_space改为tm
import pytz
import pandas as pd             #将pandas库的name_space改为pd
import numpy as np              #将numpy库的name_space改为np
import matplotlib.pyplot as plt #将matplotlib.pyplot的name_space改为plt

In [2]:
#---------------------------------------------------
# Timestamp of Pandas  (Part-1)
#---------------------------------------------------

# 创建Timestamp .....................................
# 无时区属性
ts1 = pd.to_datetime('1970-01-01 02:00:00')       #方法-1
# ts1 = pd.to_datetime(datetime(1970,1,1,2,0,0))  #方法-2
# ts1 = pd.Timestamp('1970-01-01 02:00:00')       #方法-3
print 'ts1: ',ts1,type(ts1),'|',ts1.value,type(ts1.value)

# 时区=香港
ts2 = pd.to_datetime('1970-01-01 10:00:00').tz_localize('Asia/Hong_Kong')    #方法-1
# ts2 = pd.to_datetime(datetime(1970,1,1,10,0,0)).tz_localize('Asia/Hong_Kong')  #方法-2
# ts2 = pd.Timestamp('1970-01-01 10:00:00',tz='Asia/Hong_Kong')                #方法-3
print 'ts2: ',ts2,type(ts2),'|',ts2.value,type(ts2.value)

# 时区=悉尼
ss = str.format('%4.4d-%2.2d-%2.2d %2.2d:%2.2d:%2.2d' % (1970,1,1,12,0,0))  #从整数创建时间字符串
ts3 = pd.to_datetime(ss).tz_localize('Australia/Sydney')
# ts3 = pd.Timestamp(ss,tz='Australia/Sydney')
print 'ts3: ',ts3,type(ts3),'|',ts3.value,type(ts3.value)


# Timestamp时区变换 ....................................
ts4 = ts3.tz_convert('UTC')
print 'ts4: ',ts4,type(ts4),'|',ts4.value,type(ts4.value)


# Pandas Timestamp -> Python DateTime ..................
tt2 = ts2.to_pydatetime()
print 'tt2: ',tt2,type(tt2)

# 四个pandas timestamp: ts1,ts2,ts3,ts4
# ts1: 无时区信息
# ts2: 时区=香港
# ts3: 时区=悉尼
# ts4: 时区=UTC
# 注意：四个timestamp的value都相同：
#      ts1.value=ts2.value=ts3.value=ts4.value = 2h x 3600s x 1e9ns

ts1:  1970-01-01 02:00:00 <class 'pandas.tslib.Timestamp'> | 7200000000000 <type 'long'>
ts2:  1970-01-01 10:00:00+08:00 <class 'pandas.tslib.Timestamp'> | 7200000000000 <type 'long'>
ts3:  1970-01-01 12:00:00+10:00 <class 'pandas.tslib.Timestamp'> | 7200000000000 <type 'long'>
ts4:  1970-01-01 02:00:00+00:00 <class 'pandas.tslib.Timestamp'> | 7200000000000 <type 'long'>
tt2:  1970-01-01 10:00:00+08:00 <type 'datetime.datetime'>

In [3]:
#---------------------------------------------------
# Timestamp of Pandas  (Part-2)
#---------------------------------------------------
#整数 -> pandas timestamp

tseconds = 36000    # 10h x 3600s = 36000s

ts0 = pd.to_datetime(tseconds,unit='s')     #输入整数单位=秒
print 'ts0: ',ts0,'| timestamp =',ts0.value   #ts0时区=无

ts1 = ts0.tz_localize('UTC')              #ts1 = ts0 + UTC时区信息
print 'ts1: ',ts1,'| timestamp =',ts1.value  #ts1时区=UTC

ts2 = ts1.tz_convert('Asia/Hong_Kong')    #ts2 = ts1时区属性修改为香港
print 'ts2: ',ts2,'| timestamp =',ts2.value  #ts2时区=香港

ts3 = ts1.tz_convert('Australia/Sydney')    #ts3 = ts1时区属性修改为悉尼
print 'ts3: ',ts3,'| timestamp =',ts3.value  #ts3时区=悉尼

# 四个pandas timestamp: ts0,ts1,ts2,ts3
# ts0: 无时区信息
# ts1: 时区=UTC
# ts2: 时区=香港
# ts3: 时区=悉尼
# 注意：四个timestamp的value都相同：
#      ts0.value=ts1.value=ts2.value=ts3.value = 10h x 3600s x 1e9ns

ts0:  1970-01-01 10:00:00 | timestamp = 36000000000000
ts1:  1970-01-01 10:00:00+00:00 | timestamp = 36000000000000
ts2:  1970-01-01 18:00:00+08:00 | timestamp = 36000000000000
ts3:  1970-01-01 20:00:00+10:00 | timestamp = 36000000000000

In [4]:
#---------------------------------------------------
# Timestamp of Pandas  (Part-3)
#---------------------------------------------------
# 杂项
#---------------------------------------------------

# 日期偏移
tpd = pd.to_datetime(datetime(2012,11,1)).tz_localize('UTC').tz_convert('Asia/Hong_Kong')
print 'tpd:',tpd
print 'tpd+3days: ',tpd + pd.tseries.offsets.Day(3)
print 'tpd->end of month: ',tpd + pd.tseries.offsets.MonthEnd()

tpd: 2012-11-01 08:00:00+08:00
tpd+3days:  2012-11-04 08:00:00+08:00
tpd->end of month:  2012-11-30 08:00:00+08:00

In [5]:
#---------------------------------------------------
# Load a CSV file to DataFrame
#---------------------------------------------------

print "Load CSV to DataFrame:"
df1 = pd.read_csv("quote_nasdaq_aapl_m1_2011_v2.csv")
print "df_len =",len(df1)

Load CSV to DataFrame:
df_len = 98100

In [6]:
#---------------------------------------------------
# DateTimeIndex of Pandas (Part-1)
#----------------------------------
# 创建DateTimeIndex
#---------------------------------------------------

tsvals = df1.TIMESTAMP.values   #tsvals=df1的TIMESTAMP列的数值列表(List)

# 从数值列表tsvals生成TimeStampIndex索引：
# 指定输入值列表tsvals的单位是s，时区是UTC
# 变换结果tsind是pandas的DateTimeIndex，单位是ns
tsind = pd.to_datetime(tsvals,unit='s').tz_localize('UTC')  #tsind = DateTimeIndex(单位=ns)
print '> timezone = UTC:\n',tsind

tsind = tsind.tz_convert('Asia/Hong_Kong')  #将tsind的时区设置为香港
print '> timezone = HK:\n',tsind

# 注意：
# 示范数据文件里面的TIMESTAMP定义自美国东部交易时间09:30-15:59
# 为仿真OneTick数据，假设其为UTC时区，再变换到香港时区
# 所以最终显示出来的是DateTimeIndex是17:30-23:59

> timezone = UTC:
DatetimeIndex(['2011-01-03 09:30:00+00:00', '2011-01-03 09:31:00+00:00',
               '2011-01-03 09:32:00+00:00', '2011-01-03 09:33:00+00:00',
               '2011-01-03 09:34:00+00:00', '2011-01-03 09:35:00+00:00',
               '2011-01-03 09:36:00+00:00', '2011-01-03 09:37:00+00:00',
               '2011-01-03 09:38:00+00:00', '2011-01-03 09:39:00+00:00',
               ...
               '2011-12-30 15:50:00+00:00', '2011-12-30 15:51:00+00:00',
               '2011-12-30 15:52:00+00:00', '2011-12-30 15:53:00+00:00',
               '2011-12-30 15:54:00+00:00', '2011-12-30 15:55:00+00:00',
               '2011-12-30 15:56:00+00:00', '2011-12-30 15:57:00+00:00',
               '2011-12-30 15:58:00+00:00', '2011-12-30 15:59:00+00:00'],
              dtype='datetime64[ns]', length=98100, freq=None, tz='UTC')
> timezone = HK:
DatetimeIndex(['2011-01-03 17:30:00+08:00', '2011-01-03 17:31:00+08:00',
               '2011-01-03 17:32:00+08:00', '2011-01-03 17:33:00+08:00',
               '2011-01-03 17:34:00+08:00', '2011-01-03 17:35:00+08:00',
               '2011-01-03 17:36:00+08:00', '2011-01-03 17:37:00+08:00',
               '2011-01-03 17:38:00+08:00', '2011-01-03 17:39:00+08:00',
               ...
               '2011-12-30 23:50:00+08:00', '2011-12-30 23:51:00+08:00',
               '2011-12-30 23:52:00+08:00', '2011-12-30 23:53:00+08:00',
               '2011-12-30 23:54:00+08:00', '2011-12-30 23:55:00+08:00',
               '2011-12-30 23:56:00+08:00', '2011-12-30 23:57:00+08:00',
               '2011-12-30 23:58:00+08:00', '2011-12-30 23:59:00+08:00'],
              dtype='datetime64[ns]', length=98100, freq=None, tz='Asia/Hong_Kong')

In [7]:
#---------------------------------------------------
# DateTimeIndex of Pandas (Part-2)
#---------------------------------
# 用DateTimeIndex重置DataFrame的索引
#---------------------------------------------------

# 利用Part-1生成的DateTimeIndex tsind来创建新的DataFrame df2，保留df1不变
df2 = df1.set_index(tsind)   

print '[Source: df1]\n',df1.head()  #df1头5行
print 'df1_len:',len(df1)   #df1长度

print '[Output: df2]\n',df2.head()  #df2头5行
print 'df2_len:',len(df2)   #df2长度

# 读取DataFrame的DateTimeIndex
tsindx = df2.index
print '[tsindx]:\n',tsindx

[Source: df1]
         DATE  TIME   TIMESTAMP    OPEN    HIGH     LOW   CLOSE  VOLUME
0  01/03/2011   930  1294047000  325.47  326.00  325.00  325.27  153490
1  01/03/2011   931  1294047060  325.23  325.70  324.84  325.59  115484
2  01/03/2011   932  1294047120  325.55  325.65  325.39  325.49   85813
3  01/03/2011   933  1294047180  325.44  325.59  325.19  325.35   82506
4  01/03/2011   934  1294047240  325.35  325.42  325.23  325.39   72088
df1_len: 98100
[Output: df2]
                                 DATE  TIME   TIMESTAMP    OPEN    HIGH  \
2011-01-03 17:30:00+08:00  01/03/2011   930  1294047000  325.47  326.00
2011-01-03 17:31:00+08:00  01/03/2011   931  1294047060  325.23  325.70
2011-01-03 17:32:00+08:00  01/03/2011   932  1294047120  325.55  325.65
2011-01-03 17:33:00+08:00  01/03/2011   933  1294047180  325.44  325.59
2011-01-03 17:34:00+08:00  01/03/2011   934  1294047240  325.35  325.42

                              LOW   CLOSE  VOLUME
2011-01-03 17:30:00+08:00  325.00  325.27  153490
2011-01-03 17:31:00+08:00  324.84  325.59  115484
2011-01-03 17:32:00+08:00  325.39  325.49   85813
2011-01-03 17:33:00+08:00  325.19  325.35   82506
2011-01-03 17:34:00+08:00  325.23  325.39   72088
df2_len: 98100
[tsindx]:
DatetimeIndex(['2011-01-03 17:30:00+08:00', '2011-01-03 17:31:00+08:00',
               '2011-01-03 17:32:00+08:00', '2011-01-03 17:33:00+08:00',
               '2011-01-03 17:34:00+08:00', '2011-01-03 17:35:00+08:00',
               '2011-01-03 17:36:00+08:00', '2011-01-03 17:37:00+08:00',
               '2011-01-03 17:38:00+08:00', '2011-01-03 17:39:00+08:00',
               ...
               '2011-12-30 23:50:00+08:00', '2011-12-30 23:51:00+08:00',
               '2011-12-30 23:52:00+08:00', '2011-12-30 23:53:00+08:00',
               '2011-12-30 23:54:00+08:00', '2011-12-30 23:55:00+08:00',
               '2011-12-30 23:56:00+08:00', '2011-12-30 23:57:00+08:00',
               '2011-12-30 23:58:00+08:00', '2011-12-30 23:59:00+08:00'],
              dtype='datetime64[ns]', length=98100, freq=None, tz='Asia/Hong_Kong')

In [8]:
#---------------------------------------------------
# DateTimeIndex of Pandas (Part-3)
#---------------------------------
# 杂项
#---------------------------------------------------

# 生成DateTimeIndex: 2015-02-01开始的100个日历天,interval=1天
tsindx1 = pd.date_range('2015-02-01',periods=100,freq='1D')
print '> 100 calendar days from 2015-02-01:\n',tsindx1

# 生成DateTimeIndex: 2015-02-01开始的100工作日,interval=1天
tsindx2 = pd.date_range('2015-02-01',periods=100,freq='1B')
print '> 100 business days from 2015-02-01:\n',tsindx2

> 100 calendar days from 2015-02-01:
DatetimeIndex(['2015-02-01', '2015-02-02', '2015-02-03', '2015-02-04',
               '2015-02-05', '2015-02-06', '2015-02-07', '2015-02-08',
               '2015-02-09', '2015-02-10', '2015-02-11', '2015-02-12',
               '2015-02-13', '2015-02-14', '2015-02-15', '2015-02-16',
               '2015-02-17', '2015-02-18', '2015-02-19', '2015-02-20',
               '2015-02-21', '2015-02-22', '2015-02-23', '2015-02-24',
               '2015-02-25', '2015-02-26', '2015-02-27', '2015-02-28',
               '2015-03-01', '2015-03-02', '2015-03-03', '2015-03-04',
               '2015-03-05', '2015-03-06', '2015-03-07', '2015-03-08',
               '2015-03-09', '2015-03-10', '2015-03-11', '2015-03-12',
               '2015-03-13', '2015-03-14', '2015-03-15', '2015-03-16',
               '2015-03-17', '2015-03-18', '2015-03-19', '2015-03-20',
               '2015-03-21', '2015-03-22', '2015-03-23', '2015-03-24',
               '2015-03-25', '2015-03-26', '2015-03-27', '2015-03-28',
               '2015-03-29', '2015-03-30', '2015-03-31', '2015-04-01',
               '2015-04-02', '2015-04-03', '2015-04-04', '2015-04-05',
               '2015-04-06', '2015-04-07', '2015-04-08', '2015-04-09',
               '2015-04-10', '2015-04-11', '2015-04-12', '2015-04-13',
               '2015-04-14', '2015-04-15', '2015-04-16', '2015-04-17',
               '2015-04-18', '2015-04-19', '2015-04-20', '2015-04-21',
               '2015-04-22', '2015-04-23', '2015-04-24', '2015-04-25',
               '2015-04-26', '2015-04-27', '2015-04-28', '2015-04-29',
               '2015-04-30', '2015-05-01', '2015-05-02', '2015-05-03',
               '2015-05-04', '2015-05-05', '2015-05-06', '2015-05-07',
               '2015-05-08', '2015-05-09', '2015-05-10', '2015-05-11'],
              dtype='datetime64[ns]', freq='D', tz=None)
> 100 business days from 2015-02-01:
DatetimeIndex(['2015-02-02', '2015-02-03', '2015-02-04', '2015-02-05',
               '2015-02-06', '2015-02-09', '2015-02-10', '2015-02-11',
               '2015-02-12', '2015-02-13', '2015-02-16', '2015-02-17',
               '2015-02-18', '2015-02-19', '2015-02-20', '2015-02-23',
               '2015-02-24', '2015-02-25', '2015-02-26', '2015-02-27',
               '2015-03-02', '2015-03-03', '2015-03-04', '2015-03-05',
               '2015-03-06', '2015-03-09', '2015-03-10', '2015-03-11',
               '2015-03-12', '2015-03-13', '2015-03-16', '2015-03-17',
               '2015-03-18', '2015-03-19', '2015-03-20', '2015-03-23',
               '2015-03-24', '2015-03-25', '2015-03-26', '2015-03-27',
               '2015-03-30', '2015-03-31', '2015-04-01', '2015-04-02',
               '2015-04-03', '2015-04-06', '2015-04-07', '2015-04-08',
               '2015-04-09', '2015-04-10', '2015-04-13', '2015-04-14',
               '2015-04-15', '2015-04-16', '2015-04-17', '2015-04-20',
               '2015-04-21', '2015-04-22', '2015-04-23', '2015-04-24',
               '2015-04-27', '2015-04-28', '2015-04-29', '2015-04-30',
               '2015-05-01', '2015-05-04', '2015-05-05', '2015-05-06',
               '2015-05-07', '2015-05-08', '2015-05-11', '2015-05-12',
               '2015-05-13', '2015-05-14', '2015-05-15', '2015-05-18',
               '2015-05-19', '2015-05-20', '2015-05-21', '2015-05-22',
               '2015-05-25', '2015-05-26', '2015-05-27', '2015-05-28',
               '2015-05-29', '2015-06-01', '2015-06-02', '2015-06-03',
               '2015-06-04', '2015-06-05', '2015-06-08', '2015-06-09',
               '2015-06-10', '2015-06-11', '2015-06-12', '2015-06-15',
               '2015-06-16', '2015-06-17', '2015-06-18', '2015-06-19'],
              dtype='datetime64[ns]', freq='B', tz=None)

In [9]:
#---------------------------------------------------
# DataFrame indexed by DateTimeIndex
#-----------------------------------
# indexing/selecting
#---------------------------------------------------

# 时间字串生成select条件:
dfx = df2['2011-01-03 17:30:00' : '2011-01-03 17:40:00']          #方法-1        
# dfx = df2.loc['2011-01-03 17:30:00' : '2011-01-03 17:40:00']      #方法-2

# Python datetime.datetime()生成select条件:
dfx = df2[datetime(2011,1,3,17,30) : datetime(2011,1,3,17,40)]    #方法-1
# dfx = df2.ix[datetime(2011,1,3,17,30) : datetime(2011,1,3,17,40)] #方法-2 
# dfx = df2.loc[datetime(2011,1,3,17,30) : datetime(2011,1,3,17,40)] #方法-3

# Pandas timestamp数值(ns)生成select条件:
dfx = df2[pd.to_datetime(1294047000*1e9) : pd.to_datetime(1294047600*1e9)]  #方法-1
# dfx = df2.loc[pd.to_datetime(1294047000*1e9) : pd.to_datetime(1294047600*1e9)]  #方法-2

# 筛选每天指定时间段的数据
# 方法-1
dfx = df2.between_time(start_time='17:30',end_time='17:32',include_end=False)
# 方法-2： 可支持整数变量
h=17; m1=30; m2=32
tstr1 = str(h)+':'+str(m1)
tstr2 = str(h)+':'+str(m2)
dfx = df2.between_time(start_time=tstr1,end_time=tstr2,include_end=False)

# 输出结果
dfx

#注意: 上述几种select方法输出的df3完全相同

,DATE,TIME,TIMESTAMP,OPEN,HIGH,LOW,CLOSE,VOLUME
2011-01-03 17:30:00+08:00,01/03/2011,930,1294047000,325.47,326.00,325.00,325.27,153490
2011-01-03 17:31:00+08:00,01/03/2011,931,1294047060,325.23,325.70,324.84,325.59,115484
2011-01-04 17:30:00+08:00,01/04/2011,930,1294133400,332.46,332.53,331.83,332.11,263648
2011-01-04 17:31:00+08:00,01/04/2011,931,1294133460,332.06,332.21,331.65,331.82,86142
2011-01-05 17:30:00+08:00,01/05/2011,930,1294219800,329.67,330.17,329.45,330.08,209349
2011-01-05 17:31:00+08:00,01/05/2011,931,1294219860,330.05,330.16,329.68,329.69,73192
2011-01-06 17:30:00+08:00,01/06/2011,930,1294306200,335.00,335.23,334.71,334.77,199506
2011-01-06 17:31:00+08:00,01/06/2011,931,1294306260,334.79,334.98,334.58,334.74,53008
2011-01-07 17:30:00+08:00,01/07/2011,930,1294392600,334.12,334.26,333.99,334.26,166293
2011-01-07 17:31:00+08:00,01/07/2011,931,1294392660,334.26,334.37,333.75,333.91,79855
2011-01-10 17:30:00+08:00,01/10/2011,930,1294651800,338.55,339.14,338.30,338.30,349059
2011-01-10 17:31:00+08:00,01/10/2011,931,1294651860,338.30,338.68,338.30,338.68,124471
2011-01-11 17:30:00+08:00,01/11/2011,930,1294738200,344.70,344.96,343.55,343.77,442778
2011-01-11 17:31:00+08:00,01/11/2011,931,1294738260,343.77,344.08,343.65,344.05,160107
2011-01-12 17:30:00+08:00,01/12/2011,930,1294824600,343.18,343.54,342.62,342.62,240691
2011-01-12 17:31:00+08:00,01/12/2011,931,1294824660,342.61,342.68,342.14,342.25,101867
2011-01-13 17:30:00+08:00,01/13/2011,930,1294911000,344.96,345.31,344.42,344.51,238011
2011-01-13 17:31:00+08:00,01/13/2011,931,1294911060,344.49,344.73,344.42,344.70,45512
2011-01-14 17:30:00+08:00,01/14/2011,930,1294997400,345.83,346.07,345.69,345.84,193338
2011-01-14 17:31:00+08:00,01/14/2011,931,1294997460,345.85,345.85,345.23,345.24,72310
2011-01-18 17:30:00+08:00,01/18/2011,930,1295343000,329.45,329.98,326.00,326.83,1518282
2011-01-18 17:31:00+08:00,01/18/2011,931,1295343060,327.04,329.23,326.30,328.80,897459
2011-01-19 17:30:00+08:00,01/19/2011,930,1295429400,348.39,348.60,346.61,347.36,977866
2011-01-19 17:31:00+08:00,01/19/2011,931,1295429460,347.34,347.76,345.55,346.24,565382
2011-01-20 17:30:00+08:00,01/20/2011,930,1295515800,336.25,336.89,336.00,336.85,385971
2011-01-20 17:31:00+08:00,01/20/2011,931,1295515860,336.85,337.50,336.57,337.50,126274
2011-01-21 17:30:00+08:00,01/21/2011,930,1295602200,333.62,334.69,333.07,333.42,2786101
2011-01-21 17:31:00+08:00,01/21/2011,931,1295602260,333.39,334.84,333.27,334.74,219880
2011-01-24 17:30:00+08:00,01/24/2011,930,1295861400,326.96,327.72,326.72,327.16,398894
2011-01-24 17:31:00+08:00,01/24/2011,931,1295861460,327.16,328.14,327.07,328.12,167393
...,...,...,...,...,...,...,...,...
2011-12-09 17:30:00+08:00,12/09/2011,930,1323423000,392.76,393.20,392.51,393.20,160279
2011-12-09 17:31:00+08:00,12/09/2011,931,1323423060,393.20,393.60,393.16,393.38,87055
2011-12-12 17:30:00+08:00,12/12/2011,930,1323682200,391.73,392.50,391.66,392.37,168021
2011-12-12 17:31:00+08:00,12/12/2011,931,1323682260,392.34,392.44,391.72,392.02,45332
2011-12-13 17:30:00+08:00,12/13/2011,930,1323768600,393.08,393.38,392.78,393.36,125292
2011-12-13 17:31:00+08:00,12/13/2011,931,1323768660,393.36,394.22,393.18,394.13,96820
2011-12-14 17:30:00+08:00,12/14/2011,930,1323855000,386.90,387.38,386.70,387.18,180195
2011-12-14 17:31:00+08:00,12/14/2011,931,1323855060,387.14,387.24,386.30,386.64,78484
2011-12-15 17:30:00+08:00,12/15/2011,930,1323941400,383.38,383.74,383.00,383.17,197611
2011-12-15 17:31:00+08:00,12/15/2011,931,1323941460,383.16,383.16,382.28,382.50,105990
2011-12-16 17:30:00+08:00,12/16/2011,930,1324027800,380.58,380.81,379.75,380.54,71817
2011-12-16 17:31:00+08:00,12/16/2011,931,1324027860,380.69,381.39,380.53,381.28,123271
2011-12-19 17:30:00+08:00,12/19/2011,930,1324287000,382.46,382.81,382.46,382.71,155431
2011-12-19 17:31:00+08:00,12/19/2011,931,1324287060,382.80,383.49,382.66,383.18,68860
2011-12-20 17:30:00+08:00,12/20/2011,930,1324373400,387.76,388.32,387.26,387.77,266643
2011-12-20 17:31:00+08:00,12/20/2011,931,1324373460,387.83,388.30,387.78,388.01,126178
2011-12-21 17:30:00+08:00,12/21/2011,930,1324459800,396.77,396.98,396.10,396.98,223303
2011-12-21 17:31:00+08:00,12/21/2011,931,1324459860,396.98,397.30,396.19,396.41,130378
2011-12-22 17:30:00+08:00,12/22/2011,930,1324546200,397.01,397.42,396.70,396.71,143844
2011-12-22 17:31:00+08:00,12/22/2011,931,1324546260,396.71,396.77,396.10,396.38,50506
2011-12-23 17:30:00+08:00,12/23/2011,930,1324632600,399.69,399.75,399.49,399.71,129370
2011-12-23 17:31:00+08:00,12/23/2011,931,1324632660,399.70,399.78,399.59,399.78,26362
2011-12-27 17:30:00+08:00,12/27/2011,930,1324978200,403.10,403.88,403.02,403.78,113689
2011-12-27 17:31:00+08:00,12/27/2011,931,1324978260,403.72,403.79,403.25,403.27,48150
2011-12-28 17:30:00+08:00,12/28/2011,930,1325064600,406.95,407.55,406.77,407.42,145770
2011-12-28 17:31:00+08:00,12/28/2011,931,1325064660,407.45,407.68,407.13,407.44,67140
2011-12-29 17:30:00+08:00,12/29/2011,930,1325151000,403.40,403.46,402.65,403.00,131140
2011-12-29 17:31:00+08:00,12/29/2011,931,1325151060,402.95,403.78,402.92,403.76,51147
2011-12-30 17:30:00+08:00,12/30/2011,930,1325237400,403.73,405.00,403.49,404.80,150092
2011-12-30 17:31:00+08:00,12/30/2011,931,1325237460,404.79,405.38,404.67,404.95,71973

In [10]:
#---------------------------------------------------
# DataFrame Resample
#-----------------------------------
# Downsampling
#---------------------------------------------------

# <Step-1> 
# df2feb: 截取的2月份数据
df2feb = df2['2011-02-01':'2011-02-28']

# <Step-2.1> 
# df3c: 由df2feb.CLOSE生成的只有一列的DataFrame
#       Frequency: 1min to 10min, sampling_method=mean (for close price)
df3c = df2feb[['CLOSE']].resample(rule='10T',how='mean')                 #方法-1
# df3c = pd.DataFrame(df2feb['CLOSE']).resample(rule='10T',how='mean')   #方法-2

# <Step-2.2>
# df3v: 由df2feb.VOLUME生成的只有一列的DataFrame
#       Frequency: 1min to 10min, sampling_method=sum (for volume value)
df3v = df2[['VOLUME']].resample(rule='10T',how='mean')                #方法-1
# df3v = pd.DataFrame(df2['VOLUME']).resample(rule='10T',how='sum')   #方法-2

# <Step3>
# 输出
# df3x = df3c            # 只输出df3c (dataframe of CLOSE)
# df3x = df3v            # 只输出df3v (dataframe of VOLUME)
df3x = df3c.join(df3v)   # 合并df3c,df3v后再输出

# <Step4>
# df3x: 提取指定时段，不包括时段右边界(include_end=False)
df3x = df3x.between_time(start_time='17:30:00',end_time='23:00:00',include_end=False)
df3x


#注意：为了使用join和resample方法，必须保证column提取的输出结果为DataFrame类型
#     x = df2[['CLOSE']]  : x为pd.DataFrame类型，column数量=1
#     x = df2['CLOSE']    : x为pd.Series类型，是一维序列

                             CLOSE    VOLUME
2011-02-01 17:30:00+08:00  341.961  106955.3
2011-02-01 17:40:00+08:00  342.436   53053.2
2011-02-01 17:50:00+08:00  342.390   33242.6
2011-02-01 18:00:00+08:00  342.325   49477.0
2011-02-01 18:10:00+08:00  342.667   45474.0
2011-02-01 18:20:00+08:00  343.586   65123.6
2011-02-01 18:30:00+08:00  343.824   53041.0
2011-02-01 18:40:00+08:00  344.360   49421.5
2011-02-01 18:50:00+08:00  344.270   25901.4
2011-02-01 19:00:00+08:00  344.526   39759.2
2011-02-01 19:10:00+08:00  344.420   40639.7
2011-02-01 19:20:00+08:00  343.955   30354.5
2011-02-01 19:30:00+08:00  344.282   20838.1
2011-02-01 19:40:00+08:00  344.113   22143.8
2011-02-01 19:50:00+08:00  344.075   26328.2
2011-02-01 20:00:00+08:00  344.376   29087.1
2011-02-01 20:10:00+08:00  344.887   65896.4
2011-02-01 20:20:00+08:00  344.926   38871.9
2011-02-01 20:30:00+08:00  344.975   30275.1
2011-02-01 20:40:00+08:00  345.028   29068.0
2011-02-01 20:50:00+08:00  345.107   26712.0
2011-02-01 21:00:00+08:00  345.098   26869.2
2011-02-01 21:10:00+08:00  344.985   17337.1
2011-02-01 21:20:00+08:00  345.039   19249.5
2011-02-01 21:30:00+08:00  345.025   22926.6
2011-02-01 21:40:00+08:00  345.074   18760.8
2011-02-01 21:50:00+08:00  344.996   23056.4
2011-02-01 22:00:00+08:00  345.005   29147.0
2011-02-01 22:10:00+08:00  345.047   21487.2
2011-02-01 22:20:00+08:00  345.062   21899.4
...                            ...       ...
2011-02-28 18:00:00+08:00  353.941   40212.3
2011-02-28 18:10:00+08:00  353.880   29833.4
2011-02-28 18:20:00+08:00  354.021   40236.5
2011-02-28 18:30:00+08:00  353.678   55602.1
2011-02-28 18:40:00+08:00  353.344   35701.2
2011-02-28 18:50:00+08:00  353.043   36778.6
2011-02-28 19:00:00+08:00  353.009   16879.0
2011-02-28 19:10:00+08:00  353.189   22723.7
2011-02-28 19:20:00+08:00  353.144   24071.1
2011-02-28 19:30:00+08:00  352.456   31382.0
2011-02-28 19:40:00+08:00  352.480   29702.6
2011-02-28 19:50:00+08:00  353.008   32415.3
2011-02-28 20:00:00+08:00  353.156   22770.6
2011-02-28 20:10:00+08:00  353.046   13979.5
2011-02-28 20:20:00+08:00  352.945   12847.7
2011-02-28 20:30:00+08:00  353.330   24763.0
2011-02-28 20:40:00+08:00  353.118   19768.3
2011-02-28 20:50:00+08:00  352.208   31815.3
2011-02-28 21:00:00+08:00  351.870   31947.7
2011-02-28 21:10:00+08:00  351.944   21957.2
2011-02-28 21:20:00+08:00  351.909   19448.4
2011-02-28 21:30:00+08:00  351.949   12161.8
2011-02-28 21:40:00+08:00  351.910   12520.2
2011-02-28 21:50:00+08:00  351.701   16431.6
2011-02-28 22:00:00+08:00  351.499   20503.6
2011-02-28 22:10:00+08:00  352.112   24300.6
2011-02-28 22:20:00+08:00  352.599   21436.8
2011-02-28 22:30:00+08:00  352.913   33945.2
2011-02-28 22:40:00+08:00  352.812   11633.4
2011-02-28 22:50:00+08:00  352.697   16352.3

[924 rows x 2 columns]

In [11]:
#---------------------------------------------------
# DataFrame Resample
#-----------------------------------
# Upsampling (CLOSE price)
#---------------------------------------------------

# <Step-1>
# df2feb: 截取的2月份数据
df2feb = df2['2011-02-01':'2011-02-28']

# <Step-2.1>
# 由df2feb.CLOSE生成的只有一列的DataFrame: df4c
# Frequency: 1min -> 1s, fill_method: forward filling (eliminate Nan)
df4c = df2feb[['CLOSE']].resample(rule='1S',fill_method='ffill')               #方法-1
# df4c = pd.DataFrame(df2feb['CLOSE']).resample(rule='s',fill_method='ffill')  #方法-2

# <Step-2.2>
# 由df2feb.VOLUME生成的只有一列的DataFrame: df4v
# Frequency: 1min -> 1s, fill_method: NONE
df4v = df2feb[['VOLUME']].resample(rule='1S')               #方法-1
# df4v = pd.DataFrame(df2feb['VOLUME']).resample(rule='s')  #方法-2
# 处理NaN
df4v.fillna(value=0,inplace=True)   # NaN->0, 回写新数值，方法-1
# df4v = df4v.fillna(0)             # 方法-2，作用同上

# <Step3>
# 输出
# df4x = df4c            # 只输出df4c (dataframe of CLOSE)
# df4x = df4v            # 只输出df4v (dataframe of VOLUME)
df4x = df4c.join(df4v)   # 合并df4c,df4v后再输出

# df4x: 提取指定时段，不包括时段右边界(include_end=False)
df4x = df4x.between_time(start_time='17:30:00',end_time='23:00:00',include_end=False)

df4x

# 注意： 因为是将数据从freq=1minute upsampling to 1s，因此
#       会产生很多插入的空slot，数值=Nan。针对CLOSE和VOLUME的NaN
#       处理方式不同
#       NaN in CLOSE: fill_method='ffill', forward filling
#       NaN in VOLUME: fillna(0) -> NaN=0

                            CLOSE  VOLUME
2011-02-01 17:30:00+08:00  341.68  222516
2011-02-01 17:30:01+08:00  341.68       0
2011-02-01 17:30:02+08:00  341.68       0
2011-02-01 17:30:03+08:00  341.68       0
2011-02-01 17:30:04+08:00  341.68       0
2011-02-01 17:30:05+08:00  341.68       0
2011-02-01 17:30:06+08:00  341.68       0
2011-02-01 17:30:07+08:00  341.68       0
2011-02-01 17:30:08+08:00  341.68       0
2011-02-01 17:30:09+08:00  341.68       0
2011-02-01 17:30:10+08:00  341.68       0
2011-02-01 17:30:11+08:00  341.68       0
2011-02-01 17:30:12+08:00  341.68       0
2011-02-01 17:30:13+08:00  341.68       0
2011-02-01 17:30:14+08:00  341.68       0
2011-02-01 17:30:15+08:00  341.68       0
2011-02-01 17:30:16+08:00  341.68       0
2011-02-01 17:30:17+08:00  341.68       0
2011-02-01 17:30:18+08:00  341.68       0
2011-02-01 17:30:19+08:00  341.68       0
2011-02-01 17:30:20+08:00  341.68       0
2011-02-01 17:30:21+08:00  341.68       0
2011-02-01 17:30:22+08:00  341.68       0
2011-02-01 17:30:23+08:00  341.68       0
2011-02-01 17:30:24+08:00  341.68       0
2011-02-01 17:30:25+08:00  341.68       0
2011-02-01 17:30:26+08:00  341.68       0
2011-02-01 17:30:27+08:00  341.68       0
2011-02-01 17:30:28+08:00  341.68       0
2011-02-01 17:30:29+08:00  341.68       0
...                           ...     ...
2011-02-28 22:59:30+08:00  352.92       0
2011-02-28 22:59:31+08:00  352.92       0
2011-02-28 22:59:32+08:00  352.92       0
2011-02-28 22:59:33+08:00  352.92       0
2011-02-28 22:59:34+08:00  352.92       0
2011-02-28 22:59:35+08:00  352.92       0
2011-02-28 22:59:36+08:00  352.92       0
2011-02-28 22:59:37+08:00  352.92       0
2011-02-28 22:59:38+08:00  352.92       0
2011-02-28 22:59:39+08:00  352.92       0
2011-02-28 22:59:40+08:00  352.92       0
2011-02-28 22:59:41+08:00  352.92       0
2011-02-28 22:59:42+08:00  352.92       0
2011-02-28 22:59:43+08:00  352.92       0
2011-02-28 22:59:44+08:00  352.92       0
2011-02-28 22:59:45+08:00  352.92       0
2011-02-28 22:59:46+08:00  352.92       0
2011-02-28 22:59:47+08:00  352.92       0
2011-02-28 22:59:48+08:00  352.92       0
2011-02-28 22:59:49+08:00  352.92       0
2011-02-28 22:59:50+08:00  352.92       0
2011-02-28 22:59:51+08:00  352.92       0
2011-02-28 22:59:52+08:00  352.92       0
2011-02-28 22:59:53+08:00  352.92       0
2011-02-28 22:59:54+08:00  352.92       0
2011-02-28 22:59:55+08:00  352.92       0
2011-02-28 22:59:56+08:00  352.92       0
2011-02-28 22:59:57+08:00  352.92       0
2011-02-28 22:59:58+08:00  352.92       0
2011-02-28 22:59:59+08:00  352.92       0

[554400 rows x 2 columns]

In [12]:
#---------------------------------------------------
# DataFrame Resample
#-----------------------------------
# Dealing with NaN
#---------------------------------------------------

# df2feb: 截取的2月份数据
df2feb = df2['2011-02-01':'2011-02-28']

# Upsampling to produce NaN
df5c = df2feb[['CLOSE']].resample(rule='1S')
# df5c
df5v = df2feb[['VOLUME']].resample(rule='1S')
# df5v

# Drop Nan
df5c.dropna(inplace=True)  # inplce=true: 改写调用对象, 方法-1
# df5c = df5c.dropna()     # 方法-2，效果同上
# df5c

# Forward filling
df5c.fillna(method='ffill',inplace=True)  #forward filling, 方法-1
# df5c = df5c.fillna(method='ffill')      #方法-2
# df5c

# Assigning a vaule
df5v.fillna(value=0,inplace=True)   # NaN->0, 方法-1
# df5v = df5v.fillna(0)             # 方法-2   
# df5v


# Process DataFrame with multiple columns
df5feb = df2feb.resample(rule='1S')
# df5feb
df5feb['CLOSE'].fillna(method='ffill',inplace=True)  #处理CLOSE列的NaN: forward filling
df5feb['VOLUME'].fillna(value=0,inplace=True)   #处理VOLUME列的NaN: NaN->0
df5feb

,TIME,TIMESTAMP,OPEN,HIGH,LOW,CLOSE,VOLUME
2011-02-01 17:30:00+08:00,930,1296552600,341.43,341.71,341.26,341.68,222516
2011-02-01 17:30:01+08:00,NaN,NaN,NaN,NaN,NaN,341.68,0
2011-02-01 17:30:02+08:00,NaN,NaN,NaN,NaN,NaN,341.68,0
2011-02-01 17:30:03+08:00,NaN,NaN,NaN,NaN,NaN,341.68,0
2011-02-01 17:30:04+08:00,NaN,NaN,NaN,NaN,NaN,341.68,0
2011-02-01 17:30:05+08:00,NaN,NaN,NaN,NaN,NaN,341.68,0
2011-02-01 17:30:06+08:00,NaN,NaN,NaN,NaN,NaN,341.68,0
2011-02-01 17:30:07+08:00,NaN,NaN,NaN,NaN,NaN,341.68,0
2011-02-01 17:30:08+08:00,NaN,NaN,NaN,NaN,NaN,341.68,0
2011-02-01 17:30:09+08:00,NaN,NaN,NaN,NaN,NaN,341.68,0
2011-02-01 17:30:10+08:00,NaN,NaN,NaN,NaN,NaN,341.68,0
2011-02-01 17:30:11+08:00,NaN,NaN,NaN,NaN,NaN,341.68,0
2011-02-01 17:30:12+08:00,NaN,NaN,NaN,NaN,NaN,341.68,0
2011-02-01 17:30:13+08:00,NaN,NaN,NaN,NaN,NaN,341.68,0
2011-02-01 17:30:14+08:00,NaN,NaN,NaN,NaN,NaN,341.68,0
2011-02-01 17:30:15+08:00,NaN,NaN,NaN,NaN,NaN,341.68,0
2011-02-01 17:30:16+08:00,NaN,NaN,NaN,NaN,NaN,341.68,0
2011-02-01 17:30:17+08:00,NaN,NaN,NaN,NaN,NaN,341.68,0
2011-02-01 17:30:18+08:00,NaN,NaN,NaN,NaN,NaN,341.68,0
2011-02-01 17:30:19+08:00,NaN,NaN,NaN,NaN,NaN,341.68,0
2011-02-01 17:30:20+08:00,NaN,NaN,NaN,NaN,NaN,341.68,0
2011-02-01 17:30:21+08:00,NaN,NaN,NaN,NaN,NaN,341.68,0
2011-02-01 17:30:22+08:00,NaN,NaN,NaN,NaN,NaN,341.68,0
2011-02-01 17:30:23+08:00,NaN,NaN,NaN,NaN,NaN,341.68,0
2011-02-01 17:30:24+08:00,NaN,NaN,NaN,NaN,NaN,341.68,0
2011-02-01 17:30:25+08:00,NaN,NaN,NaN,NaN,NaN,341.68,0
2011-02-01 17:30:26+08:00,NaN,NaN,NaN,NaN,NaN,341.68,0
2011-02-01 17:30:27+08:00,NaN,NaN,NaN,NaN,NaN,341.68,0
2011-02-01 17:30:28+08:00,NaN,NaN,NaN,NaN,NaN,341.68,0
2011-02-01 17:30:29+08:00,NaN,NaN,NaN,NaN,NaN,341.68,0
...,...,...,...,...,...,...,...
2011-02-28 23:58:31+08:00,NaN,NaN,NaN,NaN,NaN,353.28,0
2011-02-28 23:58:32+08:00,NaN,NaN,NaN,NaN,NaN,353.28,0
2011-02-28 23:58:33+08:00,NaN,NaN,NaN,NaN,NaN,353.28,0
2011-02-28 23:58:34+08:00,NaN,NaN,NaN,NaN,NaN,353.28,0
2011-02-28 23:58:35+08:00,NaN,NaN,NaN,NaN,NaN,353.28,0
2011-02-28 23:58:36+08:00,NaN,NaN,NaN,NaN,NaN,353.28,0
2011-02-28 23:58:37+08:00,NaN,NaN,NaN,NaN,NaN,353.28,0
2011-02-28 23:58:38+08:00,NaN,NaN,NaN,NaN,NaN,353.28,0
2011-02-28 23:58:39+08:00,NaN,NaN,NaN,NaN,NaN,353.28,0
2011-02-28 23:58:40+08:00,NaN,NaN,NaN,NaN,NaN,353.28,0
2011-02-28 23:58:41+08:00,NaN,NaN,NaN,NaN,NaN,353.28,0
2011-02-28 23:58:42+08:00,NaN,NaN,NaN,NaN,NaN,353.28,0
2011-02-28 23:58:43+08:00,NaN,NaN,NaN,NaN,NaN,353.28,0
2011-02-28 23:58:44+08:00,NaN,NaN,NaN,NaN,NaN,353.28,0
2011-02-28 23:58:45+08:00,NaN,NaN,NaN,NaN,NaN,353.28,0
2011-02-28 23:58:46+08:00,NaN,NaN,NaN,NaN,NaN,353.28,0
2011-02-28 23:58:47+08:00,NaN,NaN,NaN,NaN,NaN,353.28,0
2011-02-28 23:58:48+08:00,NaN,NaN,NaN,NaN,NaN,353.28,0
2011-02-28 23:58:49+08:00,NaN,NaN,NaN,NaN,NaN,353.28,0
2011-02-28 23:58:50+08:00,NaN,NaN,NaN,NaN,NaN,353.28,0
2011-02-28 23:58:51+08:00,NaN,NaN,NaN,NaN,NaN,353.28,0
2011-02-28 23:58:52+08:00,NaN,NaN,NaN,NaN,NaN,353.28,0
2011-02-28 23:58:53+08:00,NaN,NaN,NaN,NaN,NaN,353.28,0
2011-02-28 23:58:54+08:00,NaN,NaN,NaN,NaN,NaN,353.28,0
2011-02-28 23:58:55+08:00,NaN,NaN,NaN,NaN,NaN,353.28,0
2011-02-28 23:58:56+08:00,NaN,NaN,NaN,NaN,NaN,353.28,0
2011-02-28 23:58:57+08:00,NaN,NaN,NaN,NaN,NaN,353.28,0
2011-02-28 23:58:58+08:00,NaN,NaN,NaN,NaN,NaN,353.28,0
2011-02-28 23:58:59+08:00,NaN,NaN,NaN,NaN,NaN,353.28,0
2011-02-28 23:59:00+08:00,1559,1298908740,353.28,353.50,353.11,353.49,168655

In [13]:
#---------------------------------------------------
# DataFrame Misc-1
#-----------------------------------
# Add row(s)
#---------------------------------------------------


# Add one row
dfsrc = df1[0:10]   # a sample dataframe to be appened with new row

dfx = pd.DataFrame([[1,2,3,4,5,6,7,8]])  #生成新DataFrame，列数必须跟主DataFrame一致
dfx.columns = dfsrc.columns              #新DataFrame的column名必须跟主DataFrame一致
dfsrc = dfsrc.append(dfx,ignore_index=True)  #一定要有这个参数: ignore_index=True

print dfsrc

print '\n'


# Add multiple rows
dfsrc = df1[0:10] # a sample dataframe to be appened with new row

for i in range(10):   # add 10 rows
    dfx = pd.DataFrame([[i,1030,11234,1,2,3,4,1000]])
    dfx.columns = dfsrc.columns
    dfsrc = dfsrc.append(dfx,ignore_index=True)
    
print dfsrc

          DATE  TIME   TIMESTAMP    OPEN    HIGH     LOW   CLOSE  VOLUME
0   01/03/2011   930  1294047000  325.47  326.00  325.00  325.27  153490
1   01/03/2011   931  1294047060  325.23  325.70  324.84  325.59  115484
2   01/03/2011   932  1294047120  325.55  325.65  325.39  325.49   85813
3   01/03/2011   933  1294047180  325.44  325.59  325.19  325.35   82506
4   01/03/2011   934  1294047240  325.35  325.42  325.23  325.39   72088
5   01/03/2011   935  1294047300  325.41  325.60  325.38  325.55   97056
6   01/03/2011   936  1294047360  325.56  325.70  325.50  325.60   62576
7   01/03/2011   937  1294047420  325.57  326.00  325.55  326.00  101856
8   01/03/2011   938  1294047480  326.00  326.26  325.93  326.23  139026
9   01/03/2011   939  1294047540  326.25  326.74  326.19  326.55  131626
10           1     2           3    4.00    5.00    6.00    7.00       8


          DATE  TIME   TIMESTAMP    OPEN    HIGH     LOW   CLOSE  VOLUME
0   01/03/2011   930  1294047000  325.47  326.00  325.00  325.27  153490
1   01/03/2011   931  1294047060  325.23  325.70  324.84  325.59  115484
2   01/03/2011   932  1294047120  325.55  325.65  325.39  325.49   85813
3   01/03/2011   933  1294047180  325.44  325.59  325.19  325.35   82506
4   01/03/2011   934  1294047240  325.35  325.42  325.23  325.39   72088
5   01/03/2011   935  1294047300  325.41  325.60  325.38  325.55   97056
6   01/03/2011   936  1294047360  325.56  325.70  325.50  325.60   62576
7   01/03/2011   937  1294047420  325.57  326.00  325.55  326.00  101856
8   01/03/2011   938  1294047480  326.00  326.26  325.93  326.23  139026
9   01/03/2011   939  1294047540  326.25  326.74  326.19  326.55  131626
10           0  1030       11234    1.00    2.00    3.00    4.00    1000
11           1  1030       11234    1.00    2.00    3.00    4.00    1000
12           2  1030       11234    1.00    2.00    3.00    4.00    1000
13           3  1030       11234    1.00    2.00    3.00    4.00    1000
14           4  1030       11234    1.00    2.00    3.00    4.00    1000
15           5  1030       11234    1.00    2.00    3.00    4.00    1000
16           6  1030       11234    1.00    2.00    3.00    4.00    1000
17           7  1030       11234    1.00    2.00    3.00    4.00    1000
18           8  1030       11234    1.00    2.00    3.00    4.00    1000
19           9  1030       11234    1.00    2.00    3.00    4.00    1000

In [14]:
#---------------------------------------------------
# DataFrame Misc-2
#-----------------------------------
# 不同行数的DataFrame合并
#---------------------------------------------------

# 生成两个不同长度的测试DF: df5a,df5b
df5x = df4x.copy()
df5a = df5x['2011-02-01 17:30:00':'2011-02-01 17:30:09'].copy()
df5b = df5x['2011-02-01 17:30:00':'2011-02-01 17:30:19'].copy()
print 'df5a: rows=',len(df5b),'\n',df5b
print
print 'df5b: rows=',len(df5b),'\n',df5b

df5a: rows= 20
                            CLOSE  VOLUME
2011-02-01 17:30:00+08:00  341.68  222516
2011-02-01 17:30:01+08:00  341.68       0
2011-02-01 17:30:02+08:00  341.68       0
2011-02-01 17:30:03+08:00  341.68       0
2011-02-01 17:30:04+08:00  341.68       0
2011-02-01 17:30:05+08:00  341.68       0
2011-02-01 17:30:06+08:00  341.68       0
2011-02-01 17:30:07+08:00  341.68       0
2011-02-01 17:30:08+08:00  341.68       0
2011-02-01 17:30:09+08:00  341.68       0
2011-02-01 17:30:10+08:00  341.68       0
2011-02-01 17:30:11+08:00  341.68       0
2011-02-01 17:30:12+08:00  341.68       0
2011-02-01 17:30:13+08:00  341.68       0
2011-02-01 17:30:14+08:00  341.68       0
2011-02-01 17:30:15+08:00  341.68       0
2011-02-01 17:30:16+08:00  341.68       0
2011-02-01 17:30:17+08:00  341.68       0
2011-02-01 17:30:18+08:00  341.68       0
2011-02-01 17:30:19+08:00  341.68       0

df5b: rows= 20
                            CLOSE  VOLUME
2011-02-01 17:30:00+08:00  341.68  222516
2011-02-01 17:30:01+08:00  341.68       0
2011-02-01 17:30:02+08:00  341.68       0
2011-02-01 17:30:03+08:00  341.68       0
2011-02-01 17:30:04+08:00  341.68       0
2011-02-01 17:30:05+08:00  341.68       0
2011-02-01 17:30:06+08:00  341.68       0
2011-02-01 17:30:07+08:00  341.68       0
2011-02-01 17:30:08+08:00  341.68       0
2011-02-01 17:30:09+08:00  341.68       0
2011-02-01 17:30:10+08:00  341.68       0
2011-02-01 17:30:11+08:00  341.68       0
2011-02-01 17:30:12+08:00  341.68       0
2011-02-01 17:30:13+08:00  341.68       0
2011-02-01 17:30:14+08:00  341.68       0
2011-02-01 17:30:15+08:00  341.68       0
2011-02-01 17:30:16+08:00  341.68       0
2011-02-01 17:30:17+08:00  341.68       0
2011-02-01 17:30:18+08:00  341.68       0
2011-02-01 17:30:19+08:00  341.68       0

In [15]:
# 方法-1: 利用join(how='outer')合并生成一个新的DF，
#         行数等于df5a,df5b中最大者的行数
df5c = df5a.join(df5b,how='outer',lsuffix='-L',rsuffix='-R') 
print 'df5c: rows=',len(df5c),'\n',df5c

#备注: 因index和column name命相同的行join会报错，必须通过lsuffix/rsuffix参数
#      添加加后缀区分不同DF的列名

df5c: rows= 20
                           CLOSE-L  VOLUME-L  CLOSE-R  VOLUME-R
2011-02-01 17:30:00+08:00   341.68    222516   341.68    222516
2011-02-01 17:30:01+08:00   341.68         0   341.68         0
2011-02-01 17:30:02+08:00   341.68         0   341.68         0
2011-02-01 17:30:03+08:00   341.68         0   341.68         0
2011-02-01 17:30:04+08:00   341.68         0   341.68         0
2011-02-01 17:30:05+08:00   341.68         0   341.68         0
2011-02-01 17:30:06+08:00   341.68         0   341.68         0
2011-02-01 17:30:07+08:00   341.68         0   341.68         0
2011-02-01 17:30:08+08:00   341.68         0   341.68         0
2011-02-01 17:30:09+08:00   341.68         0   341.68         0
2011-02-01 17:30:10+08:00      NaN       NaN   341.68         0
2011-02-01 17:30:11+08:00      NaN       NaN   341.68         0
2011-02-01 17:30:12+08:00      NaN       NaN   341.68         0
2011-02-01 17:30:13+08:00      NaN       NaN   341.68         0
2011-02-01 17:30:14+08:00      NaN       NaN   341.68         0
2011-02-01 17:30:15+08:00      NaN       NaN   341.68         0
2011-02-01 17:30:16+08:00      NaN       NaN   341.68         0
2011-02-01 17:30:17+08:00      NaN       NaN   341.68         0
2011-02-01 17:30:18+08:00      NaN       NaN   341.68         0
2011-02-01 17:30:19+08:00      NaN       NaN   341.68         0

In [16]:
#生成测试副本
df5ax = df5a.copy()
df5bx = df5b.copy()

# 方法-2: 添加NaN列，然后利用join(how='outer')方法对齐
if len(df5ax)>=len(df5bx):
    dfnan = pd.DataFrame(np.full(len(df5ax),np.nan)) #生成NaN DF
    dfnan = dfnan.set_index(df5ax.index)             #设置Nan DF的Index
else:
    dfnan = pd.DataFrame(np.full(len(df5bx),np.nan)) #生成NaN DF
    dfnan = dfnan.set_index(df5bx.index)             #设置Nan DF的Index
    
dfnan.columns=['NAN']                  #命名NaN DF的column
df5ax = df5ax.join(dfnan,how='outer')  #利用join对齐df5ax 
df5bx = df5bx.join(dfnan,how='outer')  #利用join对齐df5bx

print 'df5ax: rows=',len(df5ax),'\n',df5ax
print
print 'df5bx: rows=',len(df5bx),'\n',df5bx

df5ax: rows= 20
                            CLOSE  VOLUME  NAN
2011-02-01 17:30:00+08:00  341.68  222516  NaN
2011-02-01 17:30:01+08:00  341.68       0  NaN
2011-02-01 17:30:02+08:00  341.68       0  NaN
2011-02-01 17:30:03+08:00  341.68       0  NaN
2011-02-01 17:30:04+08:00  341.68       0  NaN
2011-02-01 17:30:05+08:00  341.68       0  NaN
2011-02-01 17:30:06+08:00  341.68       0  NaN
2011-02-01 17:30:07+08:00  341.68       0  NaN
2011-02-01 17:30:08+08:00  341.68       0  NaN
2011-02-01 17:30:09+08:00  341.68       0  NaN
2011-02-01 17:30:10+08:00     NaN     NaN  NaN
2011-02-01 17:30:11+08:00     NaN     NaN  NaN
2011-02-01 17:30:12+08:00     NaN     NaN  NaN
2011-02-01 17:30:13+08:00     NaN     NaN  NaN
2011-02-01 17:30:14+08:00     NaN     NaN  NaN
2011-02-01 17:30:15+08:00     NaN     NaN  NaN
2011-02-01 17:30:16+08:00     NaN     NaN  NaN
2011-02-01 17:30:17+08:00     NaN     NaN  NaN
2011-02-01 17:30:18+08:00     NaN     NaN  NaN
2011-02-01 17:30:19+08:00     NaN     NaN  NaN

df5bx: rows= 20
                            CLOSE  VOLUME  NAN
2011-02-01 17:30:00+08:00  341.68  222516  NaN
2011-02-01 17:30:01+08:00  341.68       0  NaN
2011-02-01 17:30:02+08:00  341.68       0  NaN
2011-02-01 17:30:03+08:00  341.68       0  NaN
2011-02-01 17:30:04+08:00  341.68       0  NaN
2011-02-01 17:30:05+08:00  341.68       0  NaN
2011-02-01 17:30:06+08:00  341.68       0  NaN
2011-02-01 17:30:07+08:00  341.68       0  NaN
2011-02-01 17:30:08+08:00  341.68       0  NaN
2011-02-01 17:30:09+08:00  341.68       0  NaN
2011-02-01 17:30:10+08:00  341.68       0  NaN
2011-02-01 17:30:11+08:00  341.68       0  NaN
2011-02-01 17:30:12+08:00  341.68       0  NaN
2011-02-01 17:30:13+08:00  341.68       0  NaN
2011-02-01 17:30:14+08:00  341.68       0  NaN
2011-02-01 17:30:15+08:00  341.68       0  NaN
2011-02-01 17:30:16+08:00  341.68       0  NaN
2011-02-01 17:30:17+08:00  341.68       0  NaN
2011-02-01 17:30:18+08:00  341.68       0  NaN
2011-02-01 17:30:19+08:00  341.68       0  NaN

In [17]:
#生成测试副本
df5ax = df5a.copy()
df5bx = df5b.copy()

# 方法-3: 利用resample方法对齐df5a/df5b
if len(df5ax) > len(df5bx):       #如果len(df5ax)>len(df5bx)
    x = df5ax.iloc[-1].copy()     #提取df5ax最后一行
    x.CLOSE = np.nan              #columns赋值=Nan
    x.VOLUME = np.nan             #columns赋值=Nan
    df5bx = df5bx.append(x)       #添加到df5bx最后
    df5bx = df5bx.resample('1s')  #resample
else:
    if len(df5ax) < len(df5bx):   #如果len(df5bx)>len(df5ax)
        x = df5bx.iloc[-1].copy() #提取df5bx最后一行
        x.CLOSE = np.nan
        x.VOLUME = np.nan
        df5ax = df5ax.append(x)
        df5ax = df5ax.resample('1s')

print 'df5ax: rows=',len(df5ax),'\n',df5ax
print
print 'df5bx: rows=',len(df5bx),'\n',df5bx

df5ax: rows= 20
                            CLOSE  VOLUME
2011-02-01 17:30:00+08:00  341.68  222516
2011-02-01 17:30:01+08:00  341.68       0
2011-02-01 17:30:02+08:00  341.68       0
2011-02-01 17:30:03+08:00  341.68       0
2011-02-01 17:30:04+08:00  341.68       0
2011-02-01 17:30:05+08:00  341.68       0
2011-02-01 17:30:06+08:00  341.68       0
2011-02-01 17:30:07+08:00  341.68       0
2011-02-01 17:30:08+08:00  341.68       0
2011-02-01 17:30:09+08:00  341.68       0
2011-02-01 17:30:10+08:00     NaN     NaN
2011-02-01 17:30:11+08:00     NaN     NaN
2011-02-01 17:30:12+08:00     NaN     NaN
2011-02-01 17:30:13+08:00     NaN     NaN
2011-02-01 17:30:14+08:00     NaN     NaN
2011-02-01 17:30:15+08:00     NaN     NaN
2011-02-01 17:30:16+08:00     NaN     NaN
2011-02-01 17:30:17+08:00     NaN     NaN
2011-02-01 17:30:18+08:00     NaN     NaN
2011-02-01 17:30:19+08:00     NaN     NaN

df5bx: rows= 20
                            CLOSE  VOLUME
2011-02-01 17:30:00+08:00  341.68  222516
2011-02-01 17:30:01+08:00  341.68       0
2011-02-01 17:30:02+08:00  341.68       0
2011-02-01 17:30:03+08:00  341.68       0
2011-02-01 17:30:04+08:00  341.68       0
2011-02-01 17:30:05+08:00  341.68       0
2011-02-01 17:30:06+08:00  341.68       0
2011-02-01 17:30:07+08:00  341.68       0
2011-02-01 17:30:08+08:00  341.68       0
2011-02-01 17:30:09+08:00  341.68       0
2011-02-01 17:30:10+08:00  341.68       0
2011-02-01 17:30:11+08:00  341.68       0
2011-02-01 17:30:12+08:00  341.68       0
2011-02-01 17:30:13+08:00  341.68       0
2011-02-01 17:30:14+08:00  341.68       0
2011-02-01 17:30:15+08:00  341.68       0
2011-02-01 17:30:16+08:00  341.68       0
2011-02-01 17:30:17+08:00  341.68       0
2011-02-01 17:30:18+08:00  341.68       0
2011-02-01 17:30:19+08:00  341.68       0