In [1]:
# python general
import datetime as dt
from datetime import datetime
from datetime import time
from datetime import date
import time as tm

# numpy
import numpy as np

# pandas
import pandas as pd

# matplotlib
import matplotlib as mpl
from matplotlib import cm
from mpl_toolkits.mplot3d import Axes3D
import matplotlib.pyplot as plt

# display image in the cells of notebook
from IPython.display import Image  
from IPython.display import display

In [2]:
df1 = pd.DataFrame(np.arange(100,200,10))
df1.columns = ['ColX']
print df1
df2 = pd.DataFrame(np.arange(0,1000,100))
df2.columns = ['ColID']
print df2
dfOurs = df1.join(df2)
print dfOurs

   ColX
0   100
1   110
2   120
3   130
4   140
5   150
6   160
7   170
8   180
9   190
   ColID
0      0
1    100
2    200
3    300
4    400
5    500
6    600
7    700
8    800
9    900
   ColX  ColID
0   100      0
1   110    100
2   120    200
3   130    300
4   140    400
5   150    500
6   160    600
7   170    700
8   180    800
9   190    900

In [3]:
dfX = pd.DataFrame([[200,0.2],[404,0.44],[600,0.6],[606,0.66]])
dfX.columns = ['ID','Value']
print dfX

    ID  Value
0  200   0.20
1  404   0.44
2  600   0.60
3  606   0.66

In [4]:
dfRes = dfOurs[dfOurs.ColID.isin(dfX.ID)]
dfRes

   ColX  ColID
2   120    200
6   160    600

In [5]:
dfRes2 = dfX[dfX.ID.isin(dfOurs.ColID)]
dfRes2

    ID  Value
0  200    0.2
2  600    0.6

In [6]:
dfX.ID.isin(dfOurs.ColID)

0     True
1    False
2     True
3    False
Name: ID, dtype: bool

In [15]:
dfX.loc[dfX.ID.isin(dfOurs.ColID),'Value'] = np.int64(1)
dfX

    ID  Value
0  200   1.00
1  404   0.44
2  600   1.00
3  606   0.66

In [8]:
dfX[dfX.Value==0.44]

    ID  Value
1  404   0.44

In [9]:
print dfX

    ID  Value
0  200   1.00
1  404   0.44
2  600   1.00
3  606   0.66

In [10]:
dfRes2

    ID  Value
0  200    0.2
2  600    0.6

In [11]:
print dfRes2.index
print dfRes2.index[0],dfRes2.index[-1]

Int64Index([0, 2], dtype='int64')
0 2

In [12]:
dfRes2.loc[dfRes2.index[-1]]

ID       600.0
Value      0.6
Name: 2, dtype: float64