In [1]:
import pandas as pd

In [2]:
# Retrieve all columns in csv file as string type:
# df = pd.read_csv('mydata.csv', dtype=str)

In [3]:
df = pd.DataFrame(data = ["123", "123 456 789", float("Nan"), None, "234 567 890"],
                  columns = ["A"])
df

             A
0          123
1  123 456 789
2          NaN
3         None
4  234 567 890

In [4]:
print type(df.iloc[1,0])

<type 'str'>

In [5]:
df["A"] = df["A"].fillna("0")
df

             A
0          123
1  123 456 789
2            0
3            0
4  234 567 890

In [6]:
df["A"] = df["A"].astype(dtype=str)
df["A"] = df["A"].apply(lambda x: x.replace(" ",""))
df

           A
0        123
1  123456789
2          0
3          0
4  234567890

In [7]:
df["A"] = df["A"].astype(dtype=int)
df

           A
0        123
1  123456789
2          0
3          0
4  234567890

In [8]:
print type(df.iloc[0,0])

<type 'numpy.int32'>