In [1]:
import time as tm

# numpy
import numpy as np
# pandas
import pandas as pd

In [2]:
# Make pseudo data set
code_low = 0
code_high = 9999
dataset_size = 100000

codes = np.random.randint(low=code_low+2000, 
                          high=code_high-3000, 
                          size=dataset_size)  # subset of [code_low:code_high]
values = np.random.randint(low=1, 
                           high=dataset_size*100, 
                           size=dataset_size)
tags = ['Tag string is <Code=%4.4d, Tag=%8.8d>'%(x[0], x[1]) for x in zip(codes,values)] # create tag strings

dfData = pd.DataFrame(data=zip(codes, tags),columns=["Code", "Tag"])          # The pseudo data set
dfData

       Code                                      Tag
0      2799  Tag string is <Code=2799, Tag=00154699>
1      6272  Tag string is <Code=6272, Tag=02662326>
2      3585  Tag string is <Code=3585, Tag=07060543>
3      6672  Tag string is <Code=6672, Tag=02367126>
4      3561  Tag string is <Code=3561, Tag=00261271>
5      2563  Tag string is <Code=2563, Tag=08657097>
6      3485  Tag string is <Code=3485, Tag=07057666>
7      6596  Tag string is <Code=6596, Tag=05896535>
8      4104  Tag string is <Code=4104, Tag=05676152>
9      3165  Tag string is <Code=3165, Tag=02827966>
10     6040  Tag string is <Code=6040, Tag=06393042>
11     4309  Tag string is <Code=4309, Tag=07457384>
12     4257  Tag string is <Code=4257, Tag=03371505>
13     4436  Tag string is <Code=4436, Tag=09776718>
14     2100  Tag string is <Code=2100, Tag=07076332>
15     6791  Tag string is <Code=6791, Tag=03317808>
16     4619  Tag string is <Code=4619, Tag=05552807>
17     2348  Tag string is <Code=2348, Tag=08006628>
18     4915  Tag string is <Code=4915, Tag=01447468>
19     3583  Tag string is <Code=3583, Tag=03269541>
20     3916  Tag string is <Code=3916, Tag=03765976>
21     5075  Tag string is <Code=5075, Tag=02241103>
22     4463  Tag string is <Code=4463, Tag=08990610>
23     5670  Tag string is <Code=5670, Tag=02589969>
24     3222  Tag string is <Code=3222, Tag=02554100>
25     6865  Tag string is <Code=6865, Tag=03034976>
26     6161  Tag string is <Code=6161, Tag=02952204>
27     4970  Tag string is <Code=4970, Tag=08924839>
28     6162  Tag string is <Code=6162, Tag=05473793>
29     4437  Tag string is <Code=4437, Tag=06065207>
...     ...                                      ...
99970  5257  Tag string is <Code=5257, Tag=08922692>
99971  5549  Tag string is <Code=5549, Tag=07460553>
99972  6064  Tag string is <Code=6064, Tag=08706581>
99973  5612  Tag string is <Code=5612, Tag=00664720>
99974  5703  Tag string is <Code=5703, Tag=01691175>
99975  3861  Tag string is <Code=3861, Tag=03648406>
99976  5964  Tag string is <Code=5964, Tag=02732782>
99977  4420  Tag string is <Code=4420, Tag=05981163>
99978  3261  Tag string is <Code=3261, Tag=09944645>
99979  5355  Tag string is <Code=5355, Tag=04634488>
99980  2154  Tag string is <Code=2154, Tag=06807510>
99981  3852  Tag string is <Code=3852, Tag=00091164>
99982  5180  Tag string is <Code=5180, Tag=02612234>
99983  2010  Tag string is <Code=2010, Tag=03895768>
99984  2862  Tag string is <Code=2862, Tag=02709980>
99985  2304  Tag string is <Code=2304, Tag=01460885>
99986  3141  Tag string is <Code=3141, Tag=00065987>
99987  3114  Tag string is <Code=3114, Tag=02343256>
99988  2113  Tag string is <Code=2113, Tag=07724245>
99989  5661  Tag string is <Code=5661, Tag=06845558>
99990  6774  Tag string is <Code=6774, Tag=00265176>
99991  5612  Tag string is <Code=5612, Tag=03430512>
99992  3867  Tag string is <Code=3867, Tag=00455351>
99993  4685  Tag string is <Code=4685, Tag=05680173>
99994  5625  Tag string is <Code=5625, Tag=00669977>
99995  6765  Tag string is <Code=6765, Tag=01092896>
99996  3451  Tag string is <Code=3451, Tag=05518862>
99997  5206  Tag string is <Code=5206, Tag=02387729>
99998  6507  Tag string is <Code=6507, Tag=00385183>
99999  5546  Tag string is <Code=5546, Tag=08236598>

[100000 rows x 2 columns]

In [3]:
# Make sub-dataframes by matching the code:

tk1 = tm.clock()  # for benchmark

codeTable = set(dfData["Code"].values)  # code index retrieved from dfData
result = []   # list to store the sub-dataframe for each code
for code in codeTable:
    chk = dfData['Code'].isin([code])
    dfSub = dfData[chk]
    if len(dfSub) > 0:
        result.append(dfSub)
    
tk2 = tm.clock()

print 'count of result =', len(result)   # number of sub-dataframe
print 'time consumed =','%3.3f(s)'%(tk2-tk1)  # benchmark

count of result = 4999
time consumed = 6.290(s)

In [4]:
# Check result:
dfX = result[100]
print "result[100]: rows=%d\n"%(len(dfX)),dfX.head()
print

dfX = result[1000]
print "result[1000]: rows=%d\n"%(len(dfX)),dfX.head()

result[100]: rows=24
       Code                                      Tag
14     2100  Tag string is <Code=2100, Tag=07076332>
4915   2100  Tag string is <Code=2100, Tag=08752554>
13450  2100  Tag string is <Code=2100, Tag=08324900>
15838  2100  Tag string is <Code=2100, Tag=01401666>
22908  2100  Tag string is <Code=2100, Tag=00122827>

result[1000]: rows=20
       Code                                      Tag
1479   3000  Tag string is <Code=3000, Tag=00066530>
2326   3000  Tag string is <Code=3000, Tag=09462886>
4621   3000  Tag string is <Code=3000, Tag=02373781>
19360  3000  Tag string is <Code=3000, Tag=06721643>
26957  3000  Tag string is <Code=3000, Tag=00157631>

In [5]:
result[200]

       Code                                      Tag
2157   2200  Tag string is <Code=2200, Tag=08396397>
10832  2200  Tag string is <Code=2200, Tag=04290154>
16429  2200  Tag string is <Code=2200, Tag=04715972>
16535  2200  Tag string is <Code=2200, Tag=01310843>
26949  2200  Tag string is <Code=2200, Tag=02454444>
29603  2200  Tag string is <Code=2200, Tag=09507110>
30058  2200  Tag string is <Code=2200, Tag=07654479>
31357  2200  Tag string is <Code=2200, Tag=09093074>
38486  2200  Tag string is <Code=2200, Tag=07032103>
39085  2200  Tag string is <Code=2200, Tag=07972307>
43201  2200  Tag string is <Code=2200, Tag=02825692>
47038  2200  Tag string is <Code=2200, Tag=00693488>
48282  2200  Tag string is <Code=2200, Tag=05730215>
62311  2200  Tag string is <Code=2200, Tag=05420122>
75419  2200  Tag string is <Code=2200, Tag=03895513>
79965  2200  Tag string is <Code=2200, Tag=07082325>