In [1]:
import time as tm
import datetime as dt

# numpy
import numpy as np
# pandas
import pandas as pd

In [2]:
# Make pseudo data set:

timestamp_low = 1e9           # 2001-09-09
timestamp_high = 1e9 + 2e8    # 2008-01-11
total_unit = 1000
total_record = 100000

codes = np.random.randint(low=1, 
                          high=total_unit, 
                          size=total_record)
lst_code = ["%4.4d"%(x) for x in codes] 

# lst_timestamp = np.random.randint(low=timestamp_low,
#                                   high=timestamp_high,
#                                   size=total_record)
x = np.random.random(total_record)
lst_timestamp = (timestamp_high - timestamp_low)*x + timestamp_low
lst_datetime = [str(dt.datetime.fromtimestamp(x)) for x in lst_timestamp]

dfData = pd.DataFrame(data=zip(lst_code, lst_datetime), columns=["Code", "DateTime"])
dfData

       Code                    DateTime
0      0430  2004-05-25 04:18:18.358512
1      0675  2004-01-06 17:35:23.616476
2      0304  2007-05-20 07:38:35.608584
3      0263  2006-11-04 18:32:42.429882
4      0023  2005-02-28 09:49:32.956518
5      0723  2007-03-07 08:19:02.395146
6      0928  2002-10-14 18:14:03.233052
7      0537  2007-02-08 04:23:32.416701
8      0497  2003-09-11 14:06:17.706328
9      0049  2005-12-25 16:07:56.426767
10     0381  2006-06-25 14:13:31.914513
11     0580  2003-03-20 00:13:14.698585
12     0346  2003-08-14 05:59:39.600334
13     0322  2005-08-04 02:06:06.972555
14     0475  2005-08-06 00:58:09.869319
15     0488  2003-04-22 15:54:03.457332
16     0852  2002-08-29 15:25:22.271737
17     0029  2002-02-12 12:39:32.903866
18     0601  2005-12-19 23:27:12.282805
19     0296  2005-05-20 03:00:48.034477
20     0129  2007-11-21 14:42:57.974144
21     0082  2006-08-06 14:40:54.854703
22     0353  2001-09-26 11:59:20.798264
23     0641  2006-01-03 18:12:28.814174
24     0152  2004-11-15 17:55:52.590099
25     0205  2003-07-01 03:42:32.118679
26     0681  2007-09-07 23:48:39.097201
27     0671  2005-04-12 00:03:28.435131
28     0928  2001-10-04 13:09:18.011227
29     0730  2002-01-31 21:45:20.387600
...     ...                         ...
99970  0440  2003-09-25 02:48:19.171206
99971  0617  2005-01-04 11:40:01.712938
99972  0751  2006-09-02 20:15:40.148843
99973  0957  2005-09-10 13:49:08.730901
99974  0231  2006-01-03 15:04:21.343670
99975  0437  2004-07-01 06:05:34.923603
99976  0224  2005-12-18 11:59:14.169682
99977  0401  2006-01-05 08:02:11.148791
99978  0207  2002-05-15 04:10:19.825101
99979  0611  2004-06-29 13:52:01.705966
99980  0390  2003-07-27 23:41:42.128251
99981  0142  2006-04-03 06:32:31.066247
99982  0308  2002-08-21 11:45:50.930579
99983  0086  2004-02-05 10:08:29.475379
99984  0394  2002-12-15 12:30:48.456779
99985  0999  2007-02-25 23:10:48.250691
99986  0989  2007-01-11 21:34:36.798631
99987  0579  2006-02-08 07:05:36.591520
99988  0678  2003-01-12 15:47:24.482184
99989  0704  2004-05-05 01:37:05.847937
99990  0439  2003-05-29 02:04:26.787637
99991  0888  2003-06-04 17:41:24.192784
99992  0281  2005-10-22 01:33:16.553418
99993  0429  2004-04-16 17:36:53.302179
99994  0582  2006-05-05 22:23:23.256315
99995  0783  2001-11-25 23:21:51.943250
99996  0379  2004-03-10 18:30:50.925107
99997  0011  2002-01-11 05:23:25.890107
99998  0230  2005-12-31 18:14:25.204483
99999  0943  2007-04-16 04:16:36.111825

[100000 rows x 2 columns]

In [3]:
# Scan data set to generate time span for each code:

codeTable = set(dfData["Code"])
result = []

tk1 = tm.clock()

for code in codeTable:
    chk = dfData["Code"].isin([code])
    dfSub = dfData[chk]
    
    dts = [dt.datetime.strptime(x,"%Y-%m-%d %H:%M:%S.%f") for x in dfSub["DateTime"].values]
    tss = [tm.mktime(x.timetuple()) for x in dts]
    tss_min = min(tss)
    tss_max = max(tss)
    
    rec = [code,                                # code string
           dt.datetime.fromtimestamp(tss_min),  # datetime object of the minimum
           dt.datetime.fromtimestamp(tss_max),  # datetime object of the maximum
           tss_min,                             # minimium timstamp value
           tss_max,                             # maximum timestamp value
           (tss_max - tss_min),                 # difference of the min and max timestamps (seconds)
           (tss_max - tss_min)/(3600*24)]       # difference repsented by value of days
    result.append(rec)
    
tk2 = tm.clock()
print 'count of result =',len(result)
print 'time counsumer = %1.3f(s)'%(tk2-tk1)
print
print result[0]
print result[100]

count of result = 999
time counsumer = 3.621(s)

['0282', datetime.datetime(2001, 9, 27, 1, 22, 36), datetime.datetime(2008, 1, 1, 4, 0, 7), 1001517756.0, 1199120407.0, 197602651.0, 2287.0677199074075]
['0617', datetime.datetime(2001, 9, 11, 5, 46, 36), datetime.datetime(2007, 12, 18, 10, 7, 33), 1000151196.0, 1197932853.0, 197781657.0, 2289.139548611111]

In [4]:
# Result list to dataframe
dfResult = pd.DataFrame(data=result,
                        columns=['code','Min','Max','TS_Min','TS_Max','TS_Diff','Diff_in_Days'])
dfResult

,code,Min,Max,TS_Min,TS_Max,TS_Diff,Diff_in_Days
0,0282,2001-09-27 01:22:36,2008-01-01 04:00:07,1.001518e+09,1.199120e+09,197602651.0,2287.067720
1,0328,2001-09-16 20:46:38,2008-01-08 03:30:16,1.000637e+09,1.199723e+09,199086218.0,2304.238634
2,0835,2001-10-10 14:28:19,2007-12-28 02:57:18,1.002684e+09,1.198771e+09,196086539.0,2269.520127
3,0834,2001-09-13 16:31:30,2008-01-10 19:15:51,1.000363e+09,1.199953e+09,199590261.0,2310.072465
4,0837,2001-09-27 12:18:45,2008-01-09 14:08:22,1.001557e+09,1.199848e+09,198290977.0,2295.034456
5,0836,2001-09-11 20:04:25,2007-12-19 19:05:47,1.000203e+09,1.198052e+09,197848882.0,2289.917616
6,0831,2001-09-30 18:17:19,2008-01-06 04:03:51,1.001838e+09,1.199553e+09,197714792.0,2288.365648
7,0830,2001-10-09 18:21:17,2007-12-22 13:18:06,1.002612e+09,1.198290e+09,195677809.0,2264.789456
8,0833,2001-10-31 08:30:21,2007-12-13 14:26:10,1.004477e+09,1.197516e+09,193038949.0,2234.247095
9,0832,2001-10-01 13:07:17,2008-01-04 03:53:53,1.001906e+09,1.199379e+09,197473596.0,2285.574028
10,0130,2001-09-21 09:54:11,2007-12-08 22:34:36,1.001030e+09,1.197114e+09,196083625.0,2269.486400
11,0839,2001-10-07 21:51:25,2007-12-13 07:53:35,1.002452e+09,1.197493e+09,195040930.0,2257.418171
12,0838,2001-09-25 10:50:32,2007-12-29 15:15:54,1.001379e+09,1.198902e+09,197522722.0,2286.142616
13,0038,2001-10-24 23:00:09,2008-01-03 06:49:33,1.003925e+09,1.199303e+09,195378564.0,2261.325972
14,0545,2001-09-29 23:58:26,2007-12-17 14:02:27,1.001772e+09,1.197861e+09,196088641.0,2269.544456
15,0544,2001-10-22 11:40:16,2008-01-03 07:00:33,1.003711e+09,1.199304e+09,195592817.0,2263.805752
16,0547,2001-09-21 16:28:13,2008-01-10 19:36:13,1.001054e+09,1.199954e+09,198900480.0,2302.088889
17,0546,2001-11-16 05:40:25,2007-12-31 02:34:45,1.005850e+09,1.199029e+09,193179260.0,2235.871065
18,0541,2001-09-11 10:25:41,2007-11-17 21:47:35,1.000168e+09,1.195296e+09,195128514.0,2258.431875
19,0540,2001-09-12 02:35:31,2007-12-10 17:53:27,1.000226e+09,1.197270e+09,197043476.0,2280.595787
20,0543,2001-09-14 08:00:57,2007-12-28 04:56:00,1.000418e+09,1.198778e+09,198359703.0,2295.829896
21,0542,2001-10-01 10:55:32,2007-12-23 22:52:53,1.001898e+09,1.198411e+09,196513041.0,2274.456493
22,0426,2001-09-18 12:26:00,2007-12-31 01:59:01,1.000780e+09,1.199027e+09,198246781.0,2294.522928
23,0935,2001-09-09 13:56:21,2007-12-14 02:07:39,1.000008e+09,1.197558e+09,197550678.0,2286.466181
24,0424,2001-10-20 08:15:10,2007-12-09 11:51:46,1.003526e+09,1.197162e+09,193635396.0,2241.150417
25,0937,2001-11-01 21:25:59,2007-10-01 02:45:59,1.004610e+09,1.191171e+09,186560400.0,2159.263889
26,0422,2001-09-15 19:26:38,2008-01-08 04:37:33,1.000546e+09,1.199727e+09,199181455.0,2305.340914
27,0931,2001-10-09 17:41:20,2008-01-07 11:08:09,1.002610e+09,1.199664e+09,197054809.0,2280.726956
28,0932,2001-12-30 04:07:33,2008-01-02 13:49:16,1.009646e+09,1.199242e+09,189596503.0,2194.403970
29,0933,2001-10-04 15:06:37,2007-12-24 18:49:24,1.002172e+09,1.198483e+09,196310567.0,2272.113044
...,...,...,...,...,...,...,...
969,0084,2002-04-11 05:53:48,2008-01-10 05:45:57,1.018468e+09,1.199904e+09,181435929.0,2099.952882
970,0085,2001-10-17 23:44:31,2007-12-23 19:55:22,1.003323e+09,1.198400e+09,195077451.0,2257.840868
971,0086,2001-09-21 06:26:10,2007-10-19 12:20:04,1.001018e+09,1.192757e+09,191739234.0,2219.204097
972,0087,2001-09-17 20:18:55,2007-11-28 19:54:08,1.000722e+09,1.196240e+09,195518113.0,2262.941123
973,0080,2001-09-14 07:53:56,2008-01-09 00:06:43,1.000418e+09,1.199798e+09,199379567.0,2307.633877
974,0081,2001-09-26 07:29:02,2008-01-03 02:20:57,1.001453e+09,1.199287e+09,197833915.0,2289.744387
975,0082,2001-09-24 20:50:31,2008-01-03 10:56:11,1.001329e+09,1.199318e+09,197989540.0,2291.545602
976,0083,2001-09-15 08:25:30,2007-12-01 17:33:21,1.000506e+09,1.196491e+09,195984471.0,2268.338785
977,0623,2001-09-11 21:29:46,2007-12-22 17:48:29,1.000208e+09,1.198306e+09,198098323.0,2292.804664
978,0949,2001-11-21 03:11:21,2007-12-27 11:37:21,1.006273e+09,1.198716e+09,192443160.0,2227.351389
979,0948,2002-01-12 18:22:02,2008-01-05 04:38:44,1.010820e+09,1.199468e+09,188648202.0,2183.428264
980,0702,2001-09-27 18:44:17,2007-12-27 06:50:08,1.001580e+09,1.198699e+09,197118351.0,2281.462396
981,0941,2001-09-28 15:17:50,2008-01-10 12:48:45,1.001654e+09,1.199930e+09,198275455.0,2294.854803
982,0940,2001-09-23 00:06:08,2008-01-02 05:04:36,1.001168e+09,1.199211e+09,198043108.0,2292.165602
983,0943,2001-09-09 20:58:31,2007-12-30 23:42:32,1.000033e+09,1.199019e+09,198985441.0,2303.072234
984,0942,2001-09-13 00:24:46,2007-11-27 20:36:38,1.000305e+09,1.196156e+09,195851512.0,2266.799907
985,0945,2001-11-06 05:00:28,2007-11-01 16:02:53,1.004983e+09,1.193893e+09,188910145.0,2186.460012
986,0944,2001-11-06 14:47:31,2007-12-20 18:13:22,1.005018e+09,1.198135e+09,193116351.0,2235.142951
987,0947,2001-09-30 14:51:17,2008-01-06 23:19:01,1.001825e+09,1.199622e+09,197796464.0,2289.310926
988,0946,2001-11-21 03:19:54,2007-12-09 08:09:50,1.006273e+09,1.197148e+09,190874996.0,2209.201343
989,0317,2001-10-09 18:46:39,2008-01-08 13:54:26,1.002614e+09,1.199761e+09,197147267.0,2281.797072
990,0111,2001-09-23 11:47:22,2008-01-04 17:40:55,1.001210e+09,1.199429e+09,198219213.0,2294.203854
991,0288,2001-11-20 10:47:41,2008-01-05 22:46:05,1.006214e+09,1.199534e+09,193319904.0,2237.498889
992,0310,2001-10-06 12:24:51,2008-01-08 19:34:23,1.002335e+09,1.199781e+09,197446172.0,2285.256620
993,0289,2001-11-20 19:47:10,2007-12-07 03:51:00,1.006246e+09,1.196960e+09,190713830.0,2207.335995
994,0828,2001-11-30 11:58:23,2008-01-08 11:06:26,1.007082e+09,1.199751e+09,192668883.0,2229.963924
995,0706,2001-10-12 06:18:14,2008-01-10 21:54:32,1.002828e+09,1.199962e+09,197134578.0,2281.650208
996,0705,2001-10-03 10:21:21,2007-11-13 14:51:08,1.002068e+09,1.194926e+09,192857387.0,2232.145683
997,0911,2001-09-23 12:31:47,2008-01-09 12:29:25,1.001212e+09,1.199842e+09,198629858.0,2298.956690
998,0704,2001-10-30 10:48:32,2007-12-22 15:18:05,1.004399e+09,1.198297e+09,193897773.0,2244.187188